@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --box-bg: rgb(242, 255, 245);
  --text: rgb(97, 97, 97);
  --text-important: rgb(220, 47, 57);
  --tittle-box: rgb(50, 121, 79);
  --logo-bg: rgb(242, 255, 245);
  --hero-btn: rgb(190, 235, 194);
  --primary: rgb(238, 252, 241);
  --secondry-color: rgba(221, 247, 227, 0.3);
  --border-color: rgba(224, 224, 224, 1);
  --rating-color: rgb(50, 121, 79);
  --bg-footer-color: rgb(190, 235, 194);
  --upgrade-box: rgb(221, 247, 227);
}

.header path {
  width: 1920px !important;
  transform: scaleX(5);
}
html {
  direction: rtl;
}

.header-register {
  background-image: url("../../public/svgs/header-register.svg");
  background-size: contain;
  background-repeat: repeat-x;
}

.banner-register {
  background-image: url("../../public/svgs/loginBanner.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.shadow-social-box {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.26);
}
