@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --box-bg: #f2fff5;
  --text: #616161;
  --text-important: #dc2f39;
  --tittle-box: #32794f;
  --logo-bg: #f2fff5;
  --hero-btn: #beebc2;
  --primary: #eefcf1;
  --secondry-color: rgba(221, 247, 227, 0.3);
  --border-color:rgba(224, 224, 224, 1);
  --rating-color : #32794F;
  --upgrade-box: #DDF7E3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  color: var(--black);
}

body {
  color: var;
  background: var(--back-ground-white);
  direction: rtl;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.shadow-button-orange {
  box-shadow: 0px 4px 10px 0px rgba(255, 164, 90, 0.4);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(255, 164, 90, 0.4);
  -moz-box-shadow: 0px 4px 10px 0px rgba(255, 164, 90, 0.4);
}

.shadow-button-green {
  box-shadow: 0px 4px 10px 0px rgba(3, 128, 98, 0.4);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(3, 128, 98, 0.4);
  -moz-box-shadow: 0px 4px 10px 0px rgba(3, 128, 98, 0.4);
}