.navbar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 0 1vw;
    background-color: var(--milky-white);
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s height;
    

    .navigation {
        position: absolute;
        top: 0;
        padding: 2rem 4rem;
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
        background-color: var(--milky-white);

        .button {
            background-color: transparent;
            border: none;
            font-size: 1rem;
            cursor: pointer;
            color: white;
            transition: 0.5s color;
        }

        .burgerMenuContainer {
            content: "";
            width: 42px;
            height: 25px;
            position: relative;
            right: 0;
            cursor: pointer;

            .burgerMenuTrigger {
                content: "";
                width: 42px;
                height: 25px;
                position: relative;
                right: 0;
                cursor: pointer;
                z-index: 100;
            }

            .burgerMenu {
                content: "";
                background: var(--secondary-blue);
                position: absolute;
                width: 42px;
                height: 3px;
                z-index: 0;
                top: calc(25px / 2 - 1.5px);
                transition: 0.25s width ease-in-out,
                    0.5s background-color ease-in-out;
            }

            .burgerMenu::after {
                content: "";
                background-color: var(--secondary-blue);
                position: absolute;
                width: 30px;
                height: 3px;
                transform: translateY(10px);
                z-index: 0;
                transition: 0.25s transform ease-in-out,
                    0.5s background-color ease-in-out;
            }

            .burgerMenu::before {
                content: "";
                background-color: var(--secondary-blue);
                position: absolute;
                width: 42px;
                height: 3px;
                transform: translateY(-10px);
                z-index: 0;
                transition: 0.25s transform ease-in-out,
                    0.5s background-color ease-in-out;
            }

            .burgerMenuTrigger:hover ~ .burgerMenu {
                width: 42px;
                height: 3px;
            }
        }
    }

    .content {
    position: absolute;
        top: 15vh;
        right: 5vh;
        display: none;

        ul {
            list-style: none;

            li {
                padding: 1rem 0;

                a {
                    font-size: 3rem;
                    color: var(--secondary-blue);
                    transition: 0.25s color;
                }

                a:hover {
                    color: rgb(232, 232, 232);
                    transition: 0.25s color;
                }
            }
        }
    }
}

.navbar.active {
    background-color: var(--milky-white);
    transition: 0.75s height;
    height: 100vh;

    .navigation {
        .button {
            color: var(--secondary-blue);
            transition: 0.5s color;
        }
        .burgerMenuContainer {
            .burgerMenu {
                width: 0;
                background-color: var(--secondary-blue);
                transition: 0.25s width ease-in-out,
                    0.25s background-color ease-in-out;
            }

            .burgerMenu::after {
                width: 0;
            }

            .burgerMenu::before {
                transform: translateY(0px) rotate(-90deg);
                background-color: var(--secondary-blue);
                transition: 0.25s transform ease-in-out,
                    0.25s background-color ease-in-out;      
            }

            .burgerMenuTrigger:hover ~ .burgerMenu {
                transform: translateY(0px) rotate(135deg);
                background-color: var(--secondary-blue);
                transition: 0.25s transform ease-in-out,
                    0.25s background-color ease-in-out;                }
        }
    }
    .content {
        display: initial;
    }
}